rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /teachers/{teacherId} {
      allow read, write: if true;
    }
    match /holidays/{holidayId} {
      allow read, write: if true;
    }
    match /schedules/{scheduleId} {
      allow read, write: if true;
    }
    match /app_state/{docId} {
      allow read, write: if true;
    }
  }
}
